## การสุ่มตัวอย่าง

ในบทนี้ชุดข้อมูลที่ใช้คือ "titanic.csv" ซึ่งเป็นข้อมูลของผู้โดยสารเรือไททานิคมีรายละเอียดของแต่ละคอลัมน์ดังนี้:

PassengerId: ID ของผู้โดยสาร
Survived: ผู้โดยสารรอด (1) หรือเสียชีวิต (0)  
Pclass: ชนชั้นของผู้โดยสาร first class (1), second class (2), third class (3)  
Name: ชื่อ-สกุล  
Sex: เพศ    
Age: อายุ  
SibSp: จำนวนพี่น้อง (siblings) และคู่สมรส (spouse) ที่เดินทางมาด้วย    
Parch:  จำนวนบิดา-มารดา (parent) และบุตร (child) ที่เดินทางมาด้วย  
Ticket: รหัสตั๋วโดยสาร  
Fare: ค่าตั๋วโดยสาร  
Cabin: รหัสห้องผู้โดยสาร  
Embarked: ท่าเรือต้นทาง Southampton (S), Cherbourg (C), และ Queenstown (Q)

\*\*วิธีการต่างๆที่แสดงในบทเรียนนี้เป็นเพียงแค่การยกตัวอย่างเท่านั้น ในการนำไปใช้จริงประชากรควรมีจำนวนมากกว่าชุดข้อมูลที่ใช้ในการเรียนการสอนครั้งนี้

\
ทำการ import library ที่ต้องใช้:

In [1]:
import numpy as np #สำหรับการจัดการข้อมูลที่เป็นตัวเลขต่างๆ
import pandas as pd #สำหรับอ่านข้อมูลให้อยู่ในรูปแบบ dataframe
import matplotlib.pyplot as plt #เพื่อใช้ควบคู่กับ seaborn ในการทำ data visualization
import seaborn as sns #สำหรับการทำ data visualization

\
อ่านข้อมูลจากไฟล์ให้อยู่ในรูปแบบ dataframe และแสดงข้อมูล 5 แถวแรก:

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
df = pd.read_csv("/content/drive/MyDrive/KU/0.Teaching/StatComp/2565_1/grouping_n_visaulization/titanic.csv")
df.head()

FileNotFoundError: ignored

\
ดูภาพรวมข้อมูลเบื้องต้น:

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

\
เนื่องจากในบทนี้จะใช้ข้อมูลอายุเป็นหลัก จึงต้องกรองให้มีเฉพาะผู้โดยสารที่มีข้อมูลอายุเท่านั้น:

In [ ]:
df = df[df.Age.notnull()]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 714 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  714 non-null    int64
 1   Survived     714 non-null    int64
 2   Pclass       714 non-null    int64
 3   Name         714 non-null    object
 4   Sex          714 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        714 non-null    int64
 7   Parch        714 non-null    int64
 8   Ticket       714 non-null    object
 9   Fare         714 non-null    float64
 10  Cabin        185 non-null    object
 11  Embarked     712 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 72.5+ KB

####  
### **การสุ่มตัวอย่างโดยใช้ความน่าจะเป็น (probability sampling)**

####  
#### 1. เลือกตัวอย่างขนาด n = 100 โดยใช้การสุ่มตัวอย่างแบบง่าย (simple random sampling)

In [ ]:
sample_simple_rand = df.sample(n=300)
sample_simple_rand.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
492,493,0,1,"Molson, Mr. Harry Markland",male,55.0,0,0,113787,30.5000,C30,S
370,371,1,1,"Harder, Mr. George Achilles",male,25.0,1,0,11765,55.4417,E50,C
759,760,1,1,"Rothes, the Countess. of (Lucy Noel Martha Dye...",female,33.0,0,0,110152,86.5000,B77,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
279,280,1,3,"Abbott, Mrs. Stanton (Rosa Hunt)",female,35.0,1,1,C.A. 2673,20.2500,NaN,S

\
หาค่าเฉลี่ยอายุจากตัวอย่างที่ได้:

In [ ]:
sample_simple_rand.Age.mean()

29.643333333333334

In [ ]:
f"ค่าเฉลี่ยอายุตัวอย่าง = {sample_simple_rand.Age.mean(): .2f} ± {sample_simple_rand.Age.std(): .2f}"

'ค่าเฉลี่ยอายุตัวอย่าง =  27.89 ±  14.10'

\
ค่าเฉลี่ยอายุของประชากร:

In [ ]:
df.Age.mean()

29.69911764705882

In [ ]:
f"ค่าเฉลี่ยอายุประชากร = {df.Age.mean(): .2f} ± {df.Age.std(): .2f}"

'ค่าเฉลี่ยอายุประชากร =  29.70 ±  14.53'

---

####   
#### 2. เลือกตัวอย่างขนาด n = 100 โดยใช้การสุ่มตัวอย่างแบบมีระบบ (systematic sampling)

\
หาขนาดช่วงการสุ่ม I:

In [ ]:
I = df.shape[0]/100
I

7.14

\
index ของแถวที่เลือกเป็นช่วงตามค่า I โดยใช้ค่า r = 1 (index = 0):

In [ ]:
sel_idx = np.arange(start=0, stop=df.shape[0], step=(int)(I))
sel_idx

array([  1,   8,  15,  22,  29,  36,  43,  50,  57,  64,  71,  78,  85,
        92,  99, 106, 113, 120, 127, 134, 141, 148, 155, 162, 169, 176,
       183, 190, 197, 204, 211, 218, 225, 232, 239, 246, 253, 260, 267,
       274, 281, 288, 295, 302, 309, 316, 323, 330, 337, 344, 351, 358,
       365, 372, 379, 386, 393, 400, 407, 414, 421, 428, 435, 442, 449,
       456, 463, 470, 477, 484, 491, 498, 505, 512, 519, 526, 533, 540,
       547, 554, 561, 568, 575, 582, 589, 596, 603, 610, 617, 624, 631,
       638, 645, 652, 659, 666, 673, 680, 687, 694, 701, 708])

\
ตรวจสอบจำนวนตัวอย่างที่ได้:

In [ ]:
len(sel_idx)

102

\
เนื่องจากจำนวนตัวอย่างเกินมา 2 จะตัดให้เหลือ 100 เท่านั้น:

In [ ]:
sel_idx = sel_idx[0:100]
len(sel_idx)

100

\
เลือกตัวอย่าง:

In [ ]:
sample_sys_rand = df.iloc[sel_idx,]
sample_sys_rand.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
38,39,0,3,"Vander Planke, Miss. Augusta Maria",female,18.0,2,0,345764,18.0000,NaN,S

\
หาค่าเฉลี่ยอายุจากตัวอย่างที่ได้:

In [ ]:
sample_sys_rand.Age.mean()

30.225

In [ ]:
print(f"ค่าเฉลี่ยอายุตัวอย่าง = {sample_sys_rand.Age.mean(): .2f} ± {sample_sys_rand.Age.std(): .2f}")
print(f"ค่าเฉลี่ยอายุประชากร = {df.Age.mean(): .2f} ± {df.Age.std(): .2f}")

ค่าเฉลี่ยอายุตัวอย่าง =  30.23 ±  14.61
ค่าเฉลี่ยอายุประชากร =  29.70 ±  14.53

---

####  
#### 3. เลือกตัวอย่างขนาด n = 100 โดยใช้การสุ่มตัวอย่างแบบชั้นภูมิ (stratified sampling)

ในที่นี้จะแบ่งชั้นภูมิตามคอลัมน์ Pclass ดังนั้นจะแบ่งได้ 3 ชั้นภูมิ  
เบื้องต้นหาจำนวนผู้โดยสารของแต่ละชั้นภูมิ:

In [ ]:
df.Pclass.value_counts()

3    355
1    186
2    173
Name: Pclass, dtype: int64

จะเห็นได้ว่าผู้โดยสาร Pclass=3 มีจำนวนมากกว่า 1 และ 2  
หากคิดเป็นร้อยละของจำนวนตัวอย่างในแต่ละ Pclass จะได้ว่า:

In [ ]:
np.round(df.Pclass.value_counts()/df.shape[0] * 100)

3    50.0
1    26.0
2    24.0
Name: Pclass, dtype: float64

\
เนื่องจากเป้าหมายต้องการตัวอย่างขนาด n = 100 จะต้องทำการสุ่มเลือกหน่วยตัวอย่างจาก Pclass 1, 2 และ 3 จำนวน 26, 24 และ 50 หน่วยตัวอย่างตามลำดับ:

In [ ]:
sample_strat_pclass = pd.concat([
    df[df['Pclass']==1].sample(n=26),
    df[df['Pclass']==2].sample(n=24),
    df[df['Pclass']==3].sample(n=50)
])
sample_strat_pclass.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100 entries, 102 to 719
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  100 non-null    int64
 1   Survived     100 non-null    int64
 2   Pclass       100 non-null    int64
 3   Name         100 non-null    object
 4   Sex          100 non-null    object
 5   Age          100 non-null    float64
 6   SibSp        100 non-null    int64
 7   Parch        100 non-null    int64
 8   Ticket       100 non-null    object
 9   Fare         100 non-null    float64
 10  Cabin        23 non-null     object
 11  Embarked     100 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 10.2+ KB

\
หาค่าเฉลี่ยอายุจากตัวอย่างที่ได้:

In [ ]:
sample_strat_pclass.Age.mean()

29.5775

In [ ]:
print(f"ค่าเฉลี่ยอายุตัวอย่าง = {sample_strat_pclass.Age.mean(): .2f} ± {sample_sys_rand.Age.std(): .2f}")
print(f"ค่าเฉลี่ยอายุประชากร = {df.Age.mean(): .2f} ± {df.Age.std(): .2f}")

ค่าเฉลี่ยอายุตัวอย่าง =  29.58 ±  14.61
ค่าเฉลี่ยอายุประชากร =  29.70 ±  14.53

---

####  
#### 4. เลือกตัวอย่างโดยใช้การสุ่มตัวอย่างแบบกลุ่ม (cluster sampling)

การเลือกแบบนี้จะทำการกำหนดขนาด n ไม่ได้เนื่องจากต้องเลือกทั้งกลุ่ม
ในที่นี้จะแบ่งกลุ่มตามคอลัมน์ Pclass ดังนั้นจะแบ่งได้ 3 กลุ่ม  
และเลือกกลุ่ม Pclass = 2 ทั้งกลุ่ม:

In [ ]:
df.Pclass.value_counts()

3    355
1    186
2    173
Name: Pclass, dtype: int64

In [ ]:
sample_cluster_pclass2 = df[df.Pclass==2]

\
หาค่าเฉลี่ยอายุจากตัวอย่างที่ได้:

In [ ]:
print(f"ค่าเฉลี่ยอายุตัวอย่าง = {sample_cluster_pclass2.Age.mean(): .2f} ± {sample_cluster_pclass2.Age.std(): .2f}")
print(f"ค่าเฉลี่ยอายุประชากร = {df.Age.mean(): .2f} ± {df.Age.std(): .2f}")

ค่าเฉลี่ยอายุตัวอย่าง =  29.88 ±  14.00
ค่าเฉลี่ยอายุประชากร =  29.70 ±  14.53

\
หากเลือก Pclass=3:

In [ ]:
sample_cluster_pclass3 = df[df.Pclass==3]
print(f"ค่าเฉลี่ยอายุตัวอย่าง = {sample_cluster_pclass3.Age.mean(): .2f} ± {sample_cluster_pclass3.Age.std(): .2f}")
print(f"ค่าเฉลี่ยอายุประชากร = {df.Age.mean(): .2f} ± {df.Age.std(): .2f}")

ค่าเฉลี่ยอายุตัวอย่าง =  25.14 ±  12.50
ค่าเฉลี่ยอายุประชากร =  29.70 ±  14.53

\
หากเลือก Pclass=1:

In [ ]:
sample_cluster_pclass1 = df[df.Pclass==1]
print(f"ค่าเฉลี่ยอายุตัวอย่าง = {sample_cluster_pclass1.Age.mean(): .2f} ± {sample_cluster_pclass1.Age.std(): .2f}")
print(f"ค่าเฉลี่ยอายุประชากร = {df.Age.mean(): .2f} ± {df.Age.std(): .2f}")

ค่าเฉลี่ยอายุตัวอย่าง =  38.23 ±  14.80
ค่าเฉลี่ยอายุประชากร =  29.70 ±  14.53

\
จะเห็นได้ว่าการเลือก Pclass=1 และ 3 ค่าเฉลี่ยอายุจะมีความคลาดเคลื่อนจากประชากรค่อนข้างมาก